@import url('https://fonts.googleapis.com/css?family=Muli:400,400i,700,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@media only screen and (min-width: 600px){
  body {
    max-width: 600px;
    margin: auto;
  }
}

@media screen and (max-width: 600px){
  body {
    width: 600px;
    margin: auto;
  }

  p {
    font-size: 1.5em;
  }
}

:root {
  --speech-color : #ebebeb;
}

* {
  margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  background: #363333;
  font-family: 'Muli', sans-serif;
  height: 100%;
}

#timeline {
  background: #858585;
  box-shadow: 0 -10px 20px #595959 inset;
  position: absolute;
  width: 600px;
  text-align: center;
}

#gototop {
  margin: auto;
  padding-top: 10px;
  margin-bottom: 20px;
  width : 70px;
  height: 70px;
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  color : #919191;
}

#gototop:hover {
  color: #b8b8b8;
  background: #393939;
  transition: all 0.3s ease;
}

header, section {
  /* background: #c1c1c1; */
  background: #545454;
  border-radius: 4px;
  box-shadow: 0 0 6px #6b6b6b;
  margin: 15px;
  overflow: hidden;
  text-align: center;
}

header {
  display: flex;
}

header > h1 {
  font-family: 'Open Sans', sans-serif;
  color: white;
  margin: auto;
  display: inline;
}

header > i {
  color: #919191;
  padding: 20px;
  background: #cdcdcd;
}

header > i:hover {
  color: #c2c0c0;
  background: #989898;
  transition: all 0.3s ease;
}

section > img {
  width: 100%;
  margin-bottom: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.speech {
  display: flex;
  margin-bottom: 5px;
}

.reply {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 5px;
}

#character img {
  width: 100px;
  height: 100px;
  margin: 5px;
  border-radius: 50%;
}

.talk p {
  background: var(--speech-color);
  margin: 5px;
  padding: 10px;
  border-radius: 4px;
  position: relative;
  text-align: left;
}

.speech .talk ::before
{
    content: "";
    display: block;
    position: absolute;
    left: -10px;
    top: 10px;

    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom:  7px solid transparent;
    border-right: 10px solid var(--speech-color);
}

.reply .talk ::before
{
    content: "";
    display: block;
    position: absolute;
    right: -10px;
    top: 10px;

    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom:  7px solid transparent;
    border-left: 10px solid var(--speech-color);
}

/* hr {
  background-color: #5e5e5e;
  border: none;
  height: 3px;
  margin-bottom: 10px;
} */

/* hr {
  color:rgb(29, 29, 29);
  background:rgb(61, 61, 61);
  border-top:1px rgb(78, 78, 78) dashed;
  border: 1px rgb(65, 65, 65)
  margin-bottom: 10px;
} */

hr {
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-12.png) repeat-x 0 0;
  border: 0;
  margin-bottom: 10px;
}
