@import url('https://fonts.googleapis.com/css?family=Muli:400,400i,700,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');

@media only screen and (min-width: 600px){
  body {
    max-width: 600px;
    margin: auto;
  }

  p {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 600px){
  body {
    width: 600px;
    margin: auto;
  }

  p {
    font-size: 1.8em;
  }
}

:root {
  --speech-color : #ffffff;
  --boxshadowelement : 2px 2px 3px rgba(0, 0, 0, 0.31);
}

* {
  margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  background: #363333; /* ouside the timeline */
  font-family: 'Muli', sans-serif;
  height: 100%;
}

#timeline {
  background:
  radial-gradient(circle 2000px at 0px 0px, rgba(0, 48, 255, 0.3), transparent),
  radial-gradient(circle 1000px at 0px 1300px, rgba(221, 31, 23, 0.7), transparent),
  radial-gradient(circle 800px at 500px 1700px, rgba(255, 148, 0, 0.7), transparent),
  radial-gradient(circle 1000px at 250px 2800px, rgba(143, 19, 128, 1), transparent);
  /* linear-gradient(0deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 70%, rgba(252,176,69,1) 100%); */
  /* box-shadow: 0 -10px 20px rgba(255, 255, 255, 0.5) inset; */
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.5) inset;
  position: absolute;
  width: 600px;
  text-align: center;
}

#gototop {
  margin: auto;
  padding-top: 10px;
  margin-bottom: 20px;
  width : 70px;
  height: 70px;
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  color : #ffffff;
  box-shadow: var(--boxshadowelement);
}

#gototop:hover {
  color: #b8b8b8;
  background: #393939;
  transition: all 0.3s ease;

}

header, section {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 25px;
  box-shadow: var(--boxshadowelement);
  margin: 25px;
  overflow: hidden;
  text-align: center;
}

header {
  display: flex;
  /* background-image: url('img/texture.jpg'); */
  background-size: 60%;
}

#titre {
  font-family: 'Open Sans', sans-serif;
  color: white;
  margin: auto;
  display: inline;
}

#config {
  color: #919191;
  padding: 20px;
  background: #ffffff;
}

#config:hover {
  color: #000000;
  background: #d6d6d6;
  transition: all 0.3s ease;
}

section > img {
  width: 100%;
  vertical-align: middle;
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); */
}

.speech {
  display: flex;
  margin: 5px 10px 10px 5px;
}

.reply {
  display: flex;
  flex-direction: row-reverse;
  margin: 5px;
}

#character img {
  width: 70px;
  height: 70px;
  margin: 5px;
  padding: 6px;
  border-radius: 50%;
}

.talk p {
  background: var(--speech-color);
  margin: 5px;
  padding: 15px;
  border-radius: 15px;
  position: relative;
  text-align: left;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  font-family: 'Roboto', sans-serif;
}

.border-top
{
  border-radius: 5px 5px 15px 15px !important;
  margin-top: 3px !important;
}

.border-bottom
{
  border-radius: 15px 15px 5px 5px !important;
  margin-bottom: 0px !important;
}

.speech .talk ::before
{
    content: "";
    display: block;
    position: absolute;
    left: -9px;
    top: 15px;

    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom:  15px solid transparent;
    border-right: 20px solid var(--speech-color);
}

.reply .talk ::before
{
    content: "";
    display: block;
    position: absolute;
    right: -9px;
    top: 15px;

    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom:  7px solid transparent;
    border-left: 10px solid var(--speech-color);
}

hr {
	/* height: 6px; */
	/* background: url(http://ibrahimjabbari.com/english/images/hr-12.png) repeat-x 0 0; */
  border: 2px solid white;
  margin-bottom: 10px;
  margin-top: 0px;
}
